@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Otros</h1>
    <p class="text-center">Si llegaste hasta aquí, te pido disculpas</p>

    <h3>En construcción</h3>
    <p class="text-center">En esta sección se podran ver mis hobbies como:</p>
    <ul style="list-style-type:none">
        <li>Fotografía</li>
        <li>Impresion 3d</li>
        <li>Modelado 3d</li>
    </ul>
    <p>Aca dejo un gif mio trabajando, enjoy!</p>
    <img id="SuperMandril" src="~/images/working-monkey.gif"/>
</div>
