@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-white">Bienvenidos</h1>
    <iframe class="background-char-container" src="~/TestWebGl/index.html"></iframe>
</div>
