@{
    ViewData["Title"] = "Politicas de privacidad";
}
<h1>@ViewData["Title"]</h1>
<br />
<p>Aca va todo lo legal, para atar las cosas al &aacute;rbol y que no me las roben...</p>
<p>...y para que si se tropieza alguno en mi web, no me pueda demandar</p>
